/* Estilos para el body */
body {
    background-color: #211F20;
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
header {
    background-color: #211F20; 
    padding: 20px;
    text-align: center; 
    margin-bottom: 56px;
}

/* Estilos para la navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #211F20; 
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    margin-right: 10px;
}

nav .wrappersIcons {
    display: flex;
    align-items: center;
}

nav .wrappersIcons img {
    margin-right: 10px; /* Espacio entre los íconos */
}

.counter{
    position: relative;
}

/* Estilo para el contador de productos en el carrito */
nav .productsInCart {
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 6px; /* Ajusta este valor para alinear correctamente el contador */
    top: -6px; /* Ajusta este valor para alinear correctamente el contador */
    border-radius: 50px;
    background: #000;
    font-family: Rubik;
    color: #C84800;
    font-size: 12px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold; /* Ajusta el peso de la fuente según tus necesidades */
}

.sectionTitle {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin: 0 20px 18px; /* Agrega espacio en la parte inferior */
    font-family: Rubik;
}
.news .sectionTitle{
    margin-bottom: 0;
} 

.products, .saleCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cuatro tarjetas por fila, se adaptarán automáticamente */
    gap: 24px;
    max-width: 1200px; /* Ancho máximo para contenido */
    padding: 0 20px; /* Agrega espacio a los lado*/
}


#card {  
    z-index: 1;
    position: relative; /* Asegura que #card sea un elemento de posición relativa */
    background-color: white;
    box-shadow: 6px 10px 12.5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    fill: var(--white, #FFF);
    filter: drop-shadow(6px 10px 25px rgba(0, 0, 0, 0.10));
}


.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32.7px;
}

.productInfo{
    width: 316.514px;
    height: 104.56px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 31.56px;
    margin-bottom: 27.22px;
}
.productInfo p{
    margin: 0;
}
.titleProduct{
    color: var(--black, #000);
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    text-transform: capitalize;
    margin: 0;
    
}

.productInfo .identifierNumber, .identifierNumberHorizontal{
    color: var(--gray, #808080);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin: 0;
}

.price{
    width: 316.514px;
    height: 74.977px;
    margin-bottom: 20px;
}
.price p{
    margin: 0;
}
.price .oldPrice, .horizontalPrice .oldPrice{
    color: var(--gray, #808080);
    text-align: right;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-decoration-line: line-through;
    margin: 0;
}
.price .newPrice, .horizontalPrice .newPrice{
    color: var(--red, #941B0C);
    text-align: right;
    font-family: Rubik;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;  
    margin: 0;
}
.addCart {
    z-index: 2; /* Ajusta el valor de z-index para que esté por encima de #card */
    clip-path: inset(22px round 0 51px 0 8px);
    background-color:#211F20;
    box-shadow: -6px -10px 12.5px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -23px;
    left: -22.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.btn-Cart{
    cursor: pointer;
}
.shoppingBag{
    width: 30.56px;
    height: 33.786px;
    flex-shrink: 0;
    color:aqua;
    margin-right: 3.27px;
}
.plus{
    width: 15.28px;
    height: 14.168px;
    flex-shrink: 0;
}
section{
    margin-bottom: 59px;
}
#cardSale{  
    background-color: #FFD100;
    box-shadow: 6px 10px 12.5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    fill: var(--white, #FFD100);
    filter: drop-shadow(6px 10px 25px rgba(0, 0, 0, 0.10));
}
.labelContainer {
    position: relative;
}
.label {
    width: 120px;
    position: absolute;
    bottom: 124px;
    right: -16px;
    z-index: 1;
}

.labelText {
    position: absolute;
    bottom: 170px;  
    right: 20px;
    color: white;
    font-size: 25px; 
    font-weight: bold;
    margin: 0;
    z-index: 3;
    font-family: Rubik;
}
.news {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto para pantallas pequeñas */
    gap: 20px;
}

.contentH{
    display: flex;
}
.horizontalCard{
    width: 389.54px;
    background-color: white;
    box-shadow: 6px 10px 12.5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    fill: var(--white, #FFF);
    filter: drop-shadow(6px 10px 25px rgba(0, 0, 0, 0.10));
}
.horizontalPicture{
    margin: 12px 22.34px 0 5.54px;
    display: inline-block;
    height: 172px;
}
.productInfoHorizontal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 29px 12px 0 0;
}
.horizontalCard p{
    margin: 0;
    display: inline-block;
}

.stars{
    display: inline-block;
}
.titleAndRating{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rating{
    display: flex;
    align-items: center;
    gap: 15px;
}

.numberRating{
    color: #808080;
font-family: Rubik;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: 100%; /* 14px */
margin: 0;
}
.horizontalPrice{
    width: 100%;
    height: 74.977px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 10px;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;

}
.delivery, .addCartH {
    width: 295px;
    height: 50px;
    border: none;
    color: #000;
    z-index: 3;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 10px;
    color: var(--black, #000);
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 32.4px */
}
.titleButton{
    display: none !important;
}
.addCartH{
    border-radius: 0 0 10px 0;
}

.lineH{
    position: absolute; 
    bottom: -25px;
}

.productsH{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    align-items: center;
    padding: 1em;
}

@media screen and (min-width: 1024px) {
    body{
        margin: 0 121px 0 90px;
    }
    .products {
        grid-template-columns: repeat(auto-fit, 1fr)
    }
    .productsH {
        padding: 0 0 0 1em;
        column-gap: 0px;
        grid-template-columns: repeat(auto-fit, 50%);
        align-items: start;
        row-gap: 25px;
    }
    .horizontalCard{
    width: 589.303px;
    flex-shrink: 0; 
    }
    .addCartH {
        width: 295px;
        height: 50px;
        border: none;
        color: #000;
        z-index: 3;
    }
    .titleButton{
        display: inline-block !important;
        margin-left: 10px !important;
    }
}